$accent: #4284da;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;

    body {
        height: 100%;
        background-color: #181a1c;
        color: white;
        font-family: 'Open Sans', 'Segoe UI', sans-serif;
    }
}


.middle {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.captcha {
    background-color: white;
    width: 450px;
    border-radius: 3px;
    box-shadow: 4px 9px 31px -3px rgba(0,0,0,0.75);

    // Top section
    .top {
        margin: 10px;
        padding: 25px;
        background-color: $accent;
        font-size: 16px;

        input {
            color: inherit;
            font-family: inherit;
            font-size: 30px;
            font-weight: bold;
            background-color: transparent;
            border: none;
            outline: none;
        }
    }

    // Middle section
    .image-grid {

        .images {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 5px;
            margin: 8px 10px;

            .image {
                position: relative;
                
                img {
                    aspect-ratio: 1/1;
                    background-color: #f3efef;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                }
                
                .tick {
                    transform: scale(0.9);
                    position: absolute;
                    background-color: $accent;
                    top: -10px;
                    left: -10px;
                    width: 30px;
                    height: 30px;
                    z-index: 100;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    span {font-size: 16px}
            
                    &.hidden {
                        display: none;
                    }
                }
            
                &:hover {transform: scale(0.98);}
            
                &.selected {
                    transform: scale(0.9);
                }
            }
        }

        // Error message
        p {
            display: none;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            padding: 5px 0px 10px 0px;

            &.error {
                display: block;
                color: red;
            }

            &.correct {
                display: block;
                color: #7dac38;
            }
        }
    }

    // Bottom section
    .bottom {
        color: #767676;
        border-top: 1px solid #7e7e7e;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .left {
            display: flex;
            align-items: center;

            button {
                background-color: transparent;
                border: none;
                cursor: pointer;
                margin-left: 10px;

                span {
                    font-size: 30px;
                }
            }
        }

        .right {
            text-align: right;

            button {
                background-color: $accent;
                color: white;
                font-family: inherit;
                padding: 10px 20px;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                transition: ease-in-out 0.1s;

                &:hover {
                    background-color: #185abc;
                }
            }
        }
    }

}





// Instructions
.instructions {
    margin: 30px 20%;
    
    .instruction {
        margin-bottom: 30px;
        // background-color: green;
    }

}









// Icon stuff
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48;
    user-select: none;
}
.material-symbols-outlined.headphones {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48;
    color: #2d2d2d;
    user-select: none;
}