* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}
html body {
  height: 100%;
  background-color: #181a1c;
  color: white;
}

.middle {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.captcha {
  background-color: white;
  width: 450px;
  border-radius: 3px;
  font-family: "Open Sans", "Segoe UI", sans-serif;
  box-shadow: 4px 9px 31px -3px rgba(0, 0, 0, 0.75);
}
.captcha .top {
  margin: 10px;
  padding: 25px;
  background-color: #4284da;
  font-size: 16px;
}
.captcha .top input {
  color: inherit;
  font-family: inherit;
  font-size: 30px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
}
.captcha .image-grid .images {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  margin: 8px 10px;
}
.captcha .image-grid .images .image {
  position: relative;
}
.captcha .image-grid .images .image img {
  aspect-ratio: 1/1;
  background-color: #f3efef;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.captcha .image-grid .images .image .tick {
  transform: scale(0.9);
  position: absolute;
  background-color: #4284da;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
  z-index: 100;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.captcha .image-grid .images .image .tick span {
  font-size: 16px;
}
.captcha .image-grid .images .image .tick.hidden {
  display: none;
}
.captcha .image-grid .images .image:hover {
  transform: scale(0.98);
}
.captcha .image-grid .images .image.selected {
  transform: scale(0.9);
}
.captcha .image-grid p {
  display: none;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  padding: 5px 0px 10px 0px;
}
.captcha .image-grid p.error {
  display: block;
  color: red;
}
.captcha .image-grid p.correct {
  display: block;
  color: #7dac38;
}
.captcha .bottom {
  color: #767676;
  border-top: 1px solid #7e7e7e;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.captcha .bottom .left {
  display: flex;
  align-items: center;
}
.captcha .bottom .left button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
.captcha .bottom .left button span {
  font-size: 30px;
}
.captcha .bottom .right {
  text-align: right;
}
.captcha .bottom .right button {
  background-color: #4284da;
  color: white;
  font-family: inherit;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease-in-out 0.1s;
}
.captcha .bottom .right button:hover {
  background-color: #185abc;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 200, "opsz" 48;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.material-symbols-outlined.headphones {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
  color: #2d2d2d;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}/*# sourceMappingURL=style.css.map */